$primary:                       #806289;
$primary-hover:                 #C4B3CA;

$secondary:                     #1ab8c1;
$secondary-hover:               #98D2EB;

$warning:                       #FF5674;


$text:                          #595959;
$text-2:                        #353535;
$text-inverse:                  #f3f3f3;
$text-inverse-2:                hsla(0,0%,100%,.87);

$background-root:               #e0e0e0;
$background-card:               #ffffff;
$background:                    #f2f2f2;
$background-2:                  #e0e0e0;
$background-3:                  #e4e3e3;


$heavy-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
$medium-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
$light-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
